body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: #364150;
}
*{
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
.outer_frame{
	width: 100%;
	height: 100%;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	top: 0;
	bottom: 0;
	position: absolute;
}
.flexBox{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
}
.al_it{
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
}
.js_cnt{
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
}
.top_bar{
	height: 40px;
	width: 100%;
	background-color: #2b3643;
}
.footer_bar{
	width: 100%;
	background-color: #2b3643;
	height: 26px;
}
.middle_section_q{
	width: 100%;
	height: calc(100% - 66px);
	justify-content: flex-end;
}
.side_panel{
	width: 14%;
	height: 100%;
	background-color: #364150;
	transition: all .3s;
	animation: menuAnim .7s;
}
@keyframes menuAnim{
	0%{margin-left: -50%;opacity: 0;}
	100%{margin-left: 0;opacity: 1;}
}
.main_frame_q{
	width: 86%;
	background-color: #f1f4f7;
	transition: all .5s;
}
.brand_button{
	width: 14%;
	height: 100%;
	align-items: center;
}
.logo_image{
	width: calc(100% - 20px);
	text-align: center;
}
.logo_image > img{
	height: 100%;
	width: auto;
}
.top_bar_section{
	width: 86%;
	height: 100%;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
}
.info_crumbs{
	font-size: 12px;
	color: #6d88a7;
	font-weight: 500;
	padding-right: 20px;
}
.info_crumbs > label{
	color: #cbddf1;
}
.top_bar_date{
	height: 100%;
	background-color: #222c38;
	font-size: 12px;
	color: #6d88a7;
	padding:0px 10px;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	font-weight: 500;
}
.badge_msg{
	position: relative;
	padding: 0px 15px;
}
.badge_count{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #1abc9c;
	font-size: 9px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: -5px;
	right: 10px;
	font-weight: 500;
}
.user_btn{
	color: #6d88a7;
	font-size: 12px;
	font-weight: 500;
	margin-left: 10px;
	padding: 0px 20px;
	height: 100%;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	cursor: pointer;
	transition: all .3s;
}
.user_btn label{
	cursor: pointer;
}
.user_btn:hover{
	background-color: #222c38;
}
.user_btn i{
	font-size: 14px;
	color: #1abc9c;
	padding-left: 5px;
}
.side_panel ul{
	list-style: none;
	padding: 0px;
	width: 100%;
	margin:0px;
}
.side_panel ul li button{
	width: 100%;
	background-color: transparent;
	border:none;
	font-size: 13px;
	color: #6d88a7;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	cursor: pointer;
	font-weight: 500;
	padding-left: 20px;
	outline: none;
	border-bottom: 1px solid #2b3643;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow:0px 0px 0px rgba(0,0,0,.2) inset;
	transition: all .5s;
}
.side_panel ul li button img{
	padding-right: 5px;
}
.side_panel ul li button:hover{
	box-shadow:0px 40px 0px rgba(0,0,0,.1) inset;
}
.hide_div{
	/*display: none;*/
	transition: all .3s;
	width: 60px !important;
}
.hide_div button{
	font-size: 0px !important;
}
.resze_div{
	width: 100%;
}
.right_outer_frame{
	width: 100%;
	height: 100%;
}
.bill_section{
	width: 44%;
	height: 100%;
	box-sizing: border-box;
	padding:15px;
	overflow-y: auto;
}
.item_section{
	width: 56%;
	height: 100%;
	background-color: #fff;
	overflow-y: auto;
	box-sizing: border-box;
	padding:15px;
}
.head_selection{
	width: 100%;
}
.head_selection_2{
	width: 100%;
}
.al_right{
	margin-left: auto;
}
.btn_quiq{
	background-color: #16a085;
	color: #fff;
	border:none;
	outline: none;
	font-size: 13px;
	font-weight: 400;
	padding: 4px 7px;
	border-radius:3px;
	border:1px solid #16a085;
	transition: all .3s;
}
.btn_quiq:focus{
	
}
.select_box{
	background-color: #fff;
	color: #6d88a7;
	font-size: 13px;
	padding: 4px 7px;
	border:1px solid #d8dde2;
	border-radius:3px;
}
.head_selection label{
	font-size: 13px;
	color: #6d88a7;
	padding-left: 20px;
}
.table_bill{
	width: 100%;
	margin-top: 20px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.2);
}
.bill_title{
	background-color: #637c98;
}
.bill_title label{
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding-top:5px;
	padding-bottom:5px;
}
.prdct_line{
	padding-left: 10px;
}
.qty_line{
	width: 25%;
}
.prce_line{
	width: 15%;
}
.bill_item_line{
	font-size: 12px;
	color: #637c98;
	font-weight: 500;
	padding-top: 5px;
	padding-bottom: 5px;
}
.bill_item_list > div:nth-child(odd) {
	background-color: #fff;
}
.bill_item_list > div:nth-child(even){
	background-color: #ebf1f6;
}
.itm_nme{
	padding-left: 10px;
}
.itm_price{
	width: 15%;
}
.itm_qty{
	width: 25%;
}
.itm_qty > label{
	width: 50px;
	display: inline-block;
	text-align: center;
}
.itm_nme > button{
	background-color: #e74c3c;
	color: #fff;
	border:none;
	/*padding: 1px 4px;*/
	border-radius: 3px;
	margin-right: 5px;
}
.itm_qty > button{
	background-color: #637c98;
	color: #fff;
	border:none;
	padding: 1px 4px 0px 4px;
	border-radius: 3px;
	margin-right: 5px;
	margin-left: 5px;
}
.itm_adjst{
	width: 100%;
	background-color: #d8e3ed;
	padding: 10px;
	color: #637c98;
	font-size: 13px;
	font-weight: 500;
	flex-wrap: wrap;
}
.itm_adjst > div{
	width: 50%;
	padding: 5px 0px;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	-moz-justify-content: space-between;
}
.itm_adjst > div > label{
	color: #16a085;
	font-weight: 600;
	display: inline-block;
	width: 50%;
}
.total_bill{
	background-color: #fff;
	padding: 10px 10px;
	font-size: 16px;
	font-weight: 600;
	color: #637c98;
}
.total_bill > label{
	color: #e74c3c;
}
.bill_butns{
	width: 100%;
	justify-content: flex-end;
	padding: 10px 0px;
}
.bill_butns > button{
	margin-left: 10px;
}
.btn_blu{
	background-color: #637c98;
	border-color: #637c98;
}
.btn_deact{
	background-color: #a1a6a6;
	border-color: #a1a6a6;
}
.input_txt{
	background-color: #fff;
	color: #6d88a7;
	font-size: 13px;
	padding: 4px 7px;
	border:1px solid #d8dde2;
	border-radius:3px;
	background-color: #f1f4f7;
	box-shadow: 0px 1px 1px rgba(0,0,0,.1) inset;
}
.small_input{
	width: 70px;
}
.mar_left{
	margin-left: 10px;
}
.search_box_covr{
	position: relative;
}
.search_box_covr > button{
	position: absolute;
	right: 4px;
	top: 4px;
	color: #6d88a7;
	background-color: transparent;
	border:none;
}
.food_menu{
	width: 100%;
	height: auto;
	background-color:#f1f4f7;
	padding: 10px 0px 0px 10px;
	margin-top: 20px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.prod_itm{
	width: 110px;
	height: 100px;
	background-color: #e74c3c;
	border:1px solid rgba(0,0,0,.2);
	border-radius:3px;
	position: relative;
	margin: 0px 10px 10px 0px;

}
.prod_itm_name{
	background-color: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	width: 100%;
	padding: 5px 2px;
	text-align: center;
}
.menu_pin{
	width: 12px;
	padding: 0px;
	border:none;
	background-color: transparent;
}
.menu_pin > span{
	display: block;
	width: 12px;
	height: 2px;
	background-color: #4f6278;
	margin-bottom: 2px;
	position: relative;
	transition: all .5s;
}
.menu_pin > span:nth-child(3){
	margin-bottom: 0px;
}
.arrw > span:nth-child(1){
	transform: rotate(-45deg);
	width: 8px;
}
.arrw > span:nth-child(2){
	margin-top: -1px;
}
.arrw > span:nth-child(3){
	transform: rotate(45deg);
	width: 8px;
	margin-top: -1px;
}

/*Loader*/
.preload_css{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #dfdfdf;
}
.load_canvas{
	width: 110px;
	height: 110px;
	overflow: hidden;
	background-color: #dfdfdf;
}
.big_circ{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #d16502;
	border:5px solid #dfdfdf;
	position: absolute;
	margin-left: 58px;
    margin-top: 58px;
}
.small_circ{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #d16502;
	position: absolute;
	margin-left: 84px;
    margin-top: 84px;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(41,60,136, 0.2);
  border-right: 1.1em solid rgba(41,60,136, 0.2);
  border-bottom: 1.1em solid rgba(41,60,136, 0.2);
  border-left: 1.1em solid #293c88;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  position: absolute;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*Loader Ends*/
.tltip .mdl-tooltip{
	display: none;
}
.mdl-tooltip{
	background: rgba(0,0,0,.3);
	font-size: 11px;
}
ul, ol{
	line-height: normal;
}
.search_box_covr .input_txt{
	width: 100%;
}
/*and (min-width: 1024px) */
@media (max-width: 767px){
	.top_bar_section{
		display: none;
	}
	.brand_button{
		width: 98%;
	}
	.side_panel{
		width: 100%;
		position: absolute;
		z-index: 5;
		display: none;
	}
	.mobHid{
		display: none;
	}
	.hide_div{
		display: block;
	}
	.main_frame_q{
		width: 100%;
	}
	.right_outer_frame{
		flex-direction: column;
	}
	.bill_section{
		width: 100%;
	}
	.item_section{
		width: 100%;
	}
	.qty_line{
		width: 30%;
	}
	.itm_qty{
		width: 30%;
	}
	.itm_qty > button{
		font-size: 10px;
	}
	.head_selection_2 {
		flex-wrap: wrap;
	}
	.head_selection_2 .search_box_covr{
		width: 60%;
	}
	.head_selection_2 .search_box_covr, .head_selection_2 .small_input, .head_selection_2 .btn_quiq{
		margin-bottom: 10px;
	}
	.search_box_covr .input_txt{
		width: 100%;
	}
	.head_selection_2 .small_input{
		margin-left: 0px;
	}
	.menu_pin > span:nth-child(1){
		transform: rotate(-45deg);
    	width: 16px;
	}
	.menu_pin > span:nth-child(2){
		display: none;
	}
	.menu_pin > span:nth-child(3){
		transform: rotate(45deg);
	    width: 16px;
	    margin-top: -4px;
	}
	.arrw > span:nth-child(1){
		transform: rotate(0deg);
    	width: 12px;
    	margin-top: 0px;
	}
	.arrw > span:nth-child(2){
		display: block;
		margin-top: 0px;
	}
	.arrw > span:nth-child(3){
		transform: rotate(0deg);
	    width: 12px;
	    margin-top: 0px;
	}
	
	.prod_itm{
		width: 30%;
		height: 70px;
	}
	.footer_bar{
		display: none;
	}
	.middle_section_q{
		height: 100%;
	}
}